{%extends 'template.html.twig' %}

{% block Title %}
    {{ firstname }} {{ name }}
{% endblock %}


{% block body%}
    <h1>We love {{ firstname }} {{ name }}</h1>
    <p>Bonjour Techwall</p>
    je veux aller sur cet url absolue : {{ url('app_first') }}

{% endblock %}